<h1>Wacky Widget</h1>

<% if (widgets.length === 0) { %>
    <h3>No Widgets Exist</h3>
<% } else { %>
        <% widgets.forEach(function(widget) { %>
            <section>
                <h4><%= widget.description %></h4>
                <h4><%= widget.quantity %></h4>
                <form method="POST" action="/<%=widget.id%>/?_method=DELETE">
                    <input type="Submit" value="DELETE">
                </form>
            </section>
        <% }) %>
<% } %>

<hr/>

<h4>Add Widget</h4>
<form method="POST" action="/">
    <input type="text" name="description" placeholder="Widget description..."> <br>
    <input type="text" name="quantity" placeholder="Widget quantity..."> <br>
    <input type="submit" value="ADD WIDGET">
</form>